<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".CoursesApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/icon_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- ── Entry Point ── -->
        <activity
            android:name=".activities.common.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.auth.OnboardingActivity" android:exported="false" />
        <activity android:name=".activities.auth.LoginActivity" android:exported="false" />
        <activity android:name=".activities.auth.RegisterActivity" android:exported="false" />
        <activity android:name=".activities.auth.OtpVerifyActivity" android:exported="false" />
        <activity android:name=".activities.auth.ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".activities.auth.SetNewPasswordActivity" android:exported="false" />

        <activity android:name=".activities.common.HomeActivity" android:exported="false" android:windowSoftInputMode="adjustPan" />

        <!-- ── Student Activities ── -->
        <activity android:name="com.example.myapplication.activities.student.CourseListActivity" android:exported="false" />
        <activity android:name=".activities.student.CourseDetailActivity" android:exported="false" />
        <activity android:name=".activities.student.LearningActivity" android:exported="false" />
        <activity android:name=".activities.student.MyCoursesActivity" android:exported="false" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.student.SearchActivity" android:exported="false" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.student.ReviewActivity" android:exported="false"/>

        <!-- ── Instructor Activities ── -->
        <activity android:name=".activities.instructor.InstructorMainActivity" android:exported="false" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.instructor.InstructorDashboardActivity" android:exported="false" />
        <activity android:name="com.example.myapplication.activities.instructor.CourseListActivity" android:exported="false" />
        <activity android:name=".activities.instructor.EditCourseActivity" android:exported="false" />
        <activity android:name=".activities.instructor.EditLessonActivity" android:exported="false" />

        <!-- ── Admin Activities ── -->
        <activity
            android:name=".activities.admin.AdminMainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.admin.AdminLearningPreviewActivity" android:exported="false" />

        <!-- ── Common Activities ── -->
        <activity android:name=".activities.common.AccountActivity" android:exported="false" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.common.CartActivity" android:exported="false" />
        <activity android:name=".activities.common.CheckoutActivity" android:exported="false" />
        <activity android:name=".activities.common.EditProfileActivity" android:exported="false" />
        <activity android:name=".activities.common.NotificationActivity" android:exported="false" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.common.PaymentResultActivity" android:exported="false" />
        <activity android:name=".activities.common.VNPAYActivity" android:exported="false" />
        <!-- Firebase Cloud Messaging Service -->
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>
